*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

.topo-mibrasil{
display: flex;

flex-direction: row;
flex-wrap: nowrap;
background: #ff6900;
color: #fff;
font-family: "Camphor Pro";
}

.grid-icon-info{
display: flex;
gap: 0.3rem;
}

.mob{display: none;}
.dektop{display: block;}

@media screen and (max-width:924px) {

    
.mob{display: block;}
.desktop{display: none;}

.topo-mibrasil{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
background: #ff6900;

color: #fff;
font-family: "Camphor Pro";
}



    
}