*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

.topo-mibrasil {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background: #ff6900;
color: #fff;
font-family: "Camphor Pro";
justify-content: center;
gap: 1rem;
height: 2rem;
box-sizing: border-box;
}

.grid-icon-info {
display: flex;
gap: 0.3rem;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}

.mob{display: none;}
.dektop{display: block;}

@media screen and (max-width:767px) {
    
.mob{display: block;}
.desktop{display: none;}

.topo-mibrasil {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background: #ff6900;
color: #fff;
font-family: "Camphor Pro";
justify-content: center;
gap: 1rem;
height: 3rem;
width: 100%;
box-sizing: border-box;
}

.grid-icon-info {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 1rem;
}

.item-1{animation-name: anim-1;}
.item-2{animation-name: anim-2;}
.item-3{animation-name: anim-3;}

.item-1, 
.item-2, 
.item-3 {
position: absolute;
display: block;  
animation-duration: 15s;
animation-timing-function:ease;
animation-iteration-count: infinite;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: -1.5; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: -1.5; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: -1.5; }
}


    
}